<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{% block charset %}utf-8{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
</head>
<body{% block body_attributes %}{% endblock %}>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
